html {
  position: relative;
  min-height: 100%;
  color: black;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  text-align: center;
}

.page-header {
  margin-bottom: 0;
  border: none;
  font-family: "Open Sans";
}

.form-box {
  border: 2px solid rgba(0, 0, 0, 0.4);
  padding: 15px 25px;
  border-radius: 5px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.latest-posts {
  float: right;
}

.btn-success {
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn-success:hover {
  box-shadow: 0 17px 10px 0 rgba(0, 0, 0, 0.2);
  transform: translate(0, -5px);
}

.navbar-nav {
  float: none;
  display: block;
  text-align: center;
}

.navbar-nav li {
  display: inline-block;
  float: none;
}

.btn-success {
  margin-top: 1em;
}

ul.footer-icons li{
  display: inline;
  margin: 0 .25em 0;
  list-style: none;
  text-align: center;
}

.nav a {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: -.25em;
}

ul.nav a:hover {
  background-color: #fff !important;
  border-radius: 5px;
  border: 2px solid black;
}


.navbar-toggle {
  background-color: black;
}

.icon-bar {
  background-color: white;
}

.blog-title {
  text-align: center;
}
.blog-post {
  margin: 0 auto 50px auto;
  max-width: 640px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 30px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

@media only screen and (min-width: 500px) {
    .collapse {
        display: block;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-nav {
       float: none;
       margin: 0;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
       padding-top: 15px;
       padding-bottom: 15px;
    }
    .navbar-right {
        float: right!important;
    }
    .navbar-brand {
      display: none;
    }
}

@media only screen and (max-width: 500px) {
     .collapse {
        display: none;
     }
     .navbar-header {
        display: block;
     }
     .navbar-nav > li {
        display: block;
        text-align: right;
     }
     .page-header {
      display: none;
     }
     .navbar-brand {
       display: inline;
     }
}
