<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/" title="Home" class="text-muted">Home</a></li>
        <li><a href="/blog" title="Post" class="text-muted">Posts</a></li>
        <li><a href="/projects" title="Projects" class="text-muted">Projects</a></li>
        <li><a href="/about" title="About" class="text-muted">About</a></li>
        <li><a href="/contact" title="Contact" class="text-muted">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--
<li><a href="contact/index.html"><i class="fa fa-envelope fa-2x"></i></a></li>
<li><a href="https://github.com/shaunjordan"><i class="fa fa-github fa-2x"></i></a></li>
<ul class="nav navbar-nav">
  <li><a href="/" title="Home" class="text-muted">Home</a></li>
  <li><a href="/blog" title="Post" class="text-muted">Posts</a></li>
  <li><a href="/projects" title="Projects" class="text-muted">Projects</a></li>
  <li><a href="/about" title="About" class="text-muted">About</a></li>
  <li><a href="/contact" title="Contact" class="text-muted">Contact</a></li>
</ul>
-->
